<p id="notice"><%= notice %></p>

<div class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-half card">
				<h1 class="title text-center card-header">Tweet: <%= @tweet.id %></h1>
				<h4 class="text-center"><%= @tweet.tweet %></h4><br>
        <small>Created by: <%= @tweet.user.name %></small><br>
        <%= link_to 'Edit', edit_tweet_path(@tweet), class: 'btn btn-warning' %>
        <%= link_to 'Back', tweets_path, class: 'btn btn-primary' %>
			</div>
		</div>
	</div>
</div>


